
<div class="input-group add-on">
    <input type="text" class="form-control" placeholder="搜尋" >
    <div class="input-group-btn">
        <i class="fa fa-search"></i>
    </div>
  </div>

<div class="grid-container">
  <div class="classified-list">
    <div id="classified">
      <img src="./assets/pets.jpg">
      <div id="classified-name">
        動物
      </div>
     
    </div>
    <div id="classified">
      <img src="./assets/man.jpg">
      <div id="classified-name">
        時尚潮流
      </div>
    </div>
    <div id="classified">
      <img src="./assets/tree.jpg">
      <div id="classified-name">
        大自然
      </div>
    </div>
    <div id="classified">
      <img src="./assets/airplane.jpg">
      <div id="classified-name">
        科學與科技
      </div>
    </div>
  </div>
  <div class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="grid-list">
          <div class="img-grid">
            <div class="left-s-1">
              <img class="d-block w-100" src="./assets//f1.jpg" alt="Third slide">
            </div>
            <div class="left-s-2">
              <img class="d-block w-100" src="./assets//pets.jpg" alt="Third slide">
            </div>
            <div class="left-b">
              <img class="d-block w-100" src="./assets//f3.jpg" alt="Third slide">
            </div>
            <div class="right-s-1">
              <img class="d-block w-100" src="./assets//f4.jpg" alt="Third slide">
            </div>
            <div class="right-s-2">
              <img class="d-block w-100" src="./assets//man.jpg" alt="Third slide">
            </div>
            <div class="right-b">
              <img class="d-block w-100" src="./assets//f2.jpg" alt="Third slide">
            </div>
            <div class="tcommon1">
              <img class="d-block w-100" src="./assets//tree.jpg" alt="Third slide">
            </div>
            <div class="tcommon2">
              <img class="d-block w-100" src="./assets//f4.jpg" alt="Third slide">
            </div>
            <div class="tcommon3">
              <img class="d-block w-100" src="./assets//f1.jpg" alt="Third slide">
            </div>
            <div class="tcommon4">
              <img class="d-block w-100" src="./assets//f2.jpg" alt="Third slide">
            </div>
            <div class="tcommon5">
              <img class="d-block w-100" src="./assets//airplane.jpg" alt="Third slide">
            </div>
            <div class="tcommon6">
              <img class="d-block w-100" src="./assets//f4.jpg" alt="Third slide">
            </div>
            <div class="bcommon1">
              <img class="d-block w-100" src="./assets//f1.jpg" alt="Third slide">
            </div>
            <div class="bcommon2">
              <img class="d-block w-100" src="./assets//f2.jpg" alt="Third slide">
            </div>
            <div class="bcommon3">
              <img class="d-block w-100" src="./assets//3f2c00041451cbefab88.jpeg" alt="Third slide">
            </div>
            <div class="bcommon4">
              <img class="d-block w-100" src="./assets//001ec949fb1b193cb2a747.jpg" alt="Third slide">
            </div>
            <div class="bcommon5">
              <img class="d-block w-100" src="./assets//f1.jpg" alt="Third slide">
            </div>
            <div class="bcommon6">
              <img class="d-block w-100" src="./assets//f2.jpg" alt="Third slide">
            </div>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="./assets//001ec949fb1b193cb2a747.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="./assets//001ec949fb1b193cb2a747.jpg" alt="Third slide">
      </div>
    </div>
   
  </div>
</div>