<nav class="navbar-top navbar navbar-light bg-light">
    <div class="title-group">
      <i class="fa fa-camera left" aria-hidden="true"></i>
      <img id="logo" src="./assets/logo.png">
      <span class="right">
        <i class="fa fa-television" [routerLink]="['/video']" aria-hidden="true"></i>
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
      </span>
    </div>
  </nav>

<div class="card-container">
    <div class="live-group">
      <div class="user-info">
        <div class="has-life"></div>
        <div class="user-circle">
          <img src="./assets//3f2c00041451cbefab88.jpeg">
        </div>
        <div class="user-name">anthony_chen_0305</div>
      </div>

    </div>
    <div class="card">

      <div class="video-author">
        <div id="author">
          <img src="/assets/001ec949fb1b193cb2a747.jpg" />
          <div>
            <p id="author-name">anthony_chen_0305</p>
            <p id="post-location">中壢中原夜市商圈</p>
          </div>
        </div>
        <div class="edit"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
      </div>
      <img class="card-img-top" src="./assets/001ec949fb1b193cb2a747.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="card-ctrl">
          &nbsp;
          <div class="left">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          </div>
          <div class="right">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="video-favorite">
          <div>
            <div id="favorite"><img src="./assets//3f2c00041451cbefab88.jpeg"></div>
            <div id="favorite"><img src="./assets//3f2c00041451cbefab88.jpeg"></div>
            <div id="favorite"><img src="./assets//3f2c00041451cbefab88.jpeg"></div>
          </div>
          <div id="favorite-users"><span id="represent-user">jyan0911</span>和<span id="other-count">其他55人</span>都說讚</div>
        </div>
        <div class="poster">
          <div id="post-content">
            <div><span id="post-user">anthony_chen_0305</span> &nbsp;
              Some quick example text to build on the card title and make up the bulk of the card's
              content.</div>
          </div>
        </div>
        <div class="misc">
          <div id="date">2018年11月25日</div>
        </div>
      </div>


    </div>
    <div class="card">

      <div class="video-author">
        <div id="author">
          <img src="/assets/001ec949fb1b193cb2a747.jpg" />
          <div>
            <p id="author-name">anthony_chen_0305</p>
            <p id="post-location">中壢中原夜市商圈</p>
          </div>
        </div>
        <div class="edit"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
      </div>
      <img class="card-img-top" src="./assets/001ec949fb1b193cb2a747.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="card-ctrl">
          &nbsp;
          <div class="left">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          </div>
          <div class="right">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="video-favorite">
          <div>
            <div id="favorite"><img src="./assets//3f2c00041451cbefab88.jpeg"></div>
            <div id="favorite"><img src="./assets//3f2c00041451cbefab88.jpeg"></div>
            <div id="favorite"><img src="./assets//3f2c00041451cbefab88.jpeg"></div>
          </div>
          <div id="favorite-users"><span id="represent-user">jyan0911</span>和<span id="other-count">其他55人</span>都說讚</div>
        </div>
        <div class="poster">
          <div id="post-content">
            <div><span id="post-user">anthony_chen_0305</span> &nbsp;
              Some quick example text to build on the card title and make up the bulk of the card's
              content.</div>
          </div>
        </div>
        <div class="misc">
          <div id="date">2018年11月25日</div>
        </div>
      </div>


    </div>
</div>