video::-webkit-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
}

.rtc-player {
    width: 100%;
    background: black;
    height: 100%;
    position: absolute;
}

.video-player {
    width: 100%;
    background: black;
    height: 100%;
    position: absolute;
}

.video-author {
    width: 100%;
    position: absolute;
    z-index: 99;
    color: white;
    img {
        width: 25px;
        height: 25px;
        border-radius: 25px;
    }
    #author {
        i.cancel {
            float: right;
            size: 20px;
            font-size: 25px;
            color: rgba(255, 255, 255, 0.5);
        }
        #video-title {
            margin-bottom: 20px;
            span {
                font-weight: bolder;
                font-size: 16px;
                margin-right: 10px;
            }
            i {
                font-size: 10px;
            }
        }
        margin: 20px 10px 10px 10px;
    }
    span {
        font-size: 10px;
        margin-left: 10px;
    }
}

.video-description {
    position: absolute;
    background-color: rgba(black, 0.5);
    z-index: 2;
    height: 100vh;
    width: 100vw;
    hr {
        margin-top: 110px;
        color: white;
        border-color: rgba(white, .5);
        margin-left: 20px;
        margin-right: 20px;
    }
    .content {
        font-size: 12px;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 20px;
        overflow: hidden;
        height: 0px;
    }
}

.video-list {
    position: fixed;
    min-width: 100%;
    min-height: 40vh;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    padding-top: 5vh;
    bottom: 0;
    .ctrl-bar {
        height: 5vh;
        color: rgba(white, 0.7);
        display: flex;
        font-size: 18px;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 10px 0 10px;
    }
}

#video-tab {
    border-bottom: 1px solid darkgray;
}

#video-item-card {
    position: relative;
    background-color: white;
    width: 40vw;
    height: 30vh;
    border-radius: 10px;
    margin: 1em;
    * {
        position: absolute;
    }
    *:not(img) {
        z-index: 2;
    }
    #video-duration-time {
        color: white;
        right: 0;
        margin: 10px;
        font-size: 10px;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    #author-info {
        width: 100%;
        top: 50%;
        margin: 10px;
        height: calc(15vh - 10px);
        #promotion-tag {
            font-size: xx-small;
            color: lightslategray;
        }
        #video-title {
            font-size: 14px;
            color: white;
        }
        #author {
            bottom: 10px;
            color: white;
            font-size: 12px;
            width: 100%;
            img {
                width: 20px;
                height: 20px;
                border-radius: 10px;
                position: relative;
                margin-right: 10px;
            }
            span {
                word-break: break-word;
                width: calc(40vw - 40px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.nav-link {
    color: gray;
    border: none;
    background-color: transparent;
    font-size: 14px;
}

.nav-link.active {
    color: white;
    background-color: transparent;
    border-bottom: 2px solid white;
}

.tab-pane.active {
    width: 100vw;
    display: -webkit-inline-box;
    overflow-y: scroll;
}

.video-social {
    position: fixed;
    min-height: 15vh;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    bottom: 0;
    .btn {
        color: white;
        background-color: transparent;
        border-color: white;
        font-size: 12px;
        i {
            margin-right: 5px;
            font-size: 20px;
        }
    }
    .social-summary {
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
        margin: 0px 0px 15px 10px;
    }
    .social-icons {
        .btn-search {
            float: right;
            margin-right: 10px;
        }
        i.isolute {
            color: rgba(white, 0.7);
            font-size: 20px;
            margin: 0px 10px 0px 10px;
        }
    }
}

.video-ctrl {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex: 1;
    color: white;
    height: 4vh;
    margin-top: 4vh;
    font-size: 12px;
    .progress {
        height: 2px;
        overflow: inherit;
        width: 70%;
        background-color: rgba(255, 255, 255, 0.5);
        margin-top: 1vh;
    }
    .progress-bar {
        color: gray;
        white-space: nowrap;
        background-color: white;
        transition: none;
        position: relative;
        div {
            right: 0;
            position: absolute;
            background-color: white;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            content: ''
        }
    }
}

.client-card {
    height: 30vh;
    width: 40vw;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    div {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
        #name {
            top: -100%;
            position: relative;
            color: white;
            margin: 10px;
            width: 30vw;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        #status{
            top: -100%;
            position: relative;
            #light{
                width: 20px;
                height: 20px;
                border-radius: 20px;
                background: lightgreen;
                margin: 10px;
                position: relative;
                border-color: white;
                border-width: 3px;
                border-style: solid;
            }

        }
    }
}